APC Summarizer

Written by Vivek

Started on Feb 6th, 2017

This program creates summary counts of ridership for any given day by ons using APC or automated passenger count data.

- It gathers the raw data from the CAD/AVL ACS database from the table apc_correlated
- In the Panadas python code I do group by's to determine counts per route and direction, then how many total trips are sampled for the given day per route and direction.
- Then using a csv derived from GTFSDB for the April GTFS, I figure out how many total trips have happended for that route and direction.  Right now that is just in CSV form as the query is run elsewhere.
- select pst.arrival_time, pst.trip_id, pst.stop_sequence, pt.route_id, pt.service_id, pt.block_id, pt.direction_id, pt.shape_id, pt.trip_headsign from public.stop_times pst left join public.trips pt ON (pst.trip_id = pt.trip_id) where pst.stop_sequence = '1' and pt.service_id = 'Weekdays' order by pt.route_id, pst.arrival_time;

Then the three tables are joined, a little bit of math to determine Projected Ridership:  
((Ridership for a trip by route by direction by time)/(Total number of sampled trips by route by direction by time))*(Total trips run by route by direction by time) = Projected Ridership for a trip by route by time group.

Then pivot to make it easier to read.  Then reordered columns.

Limitations:
The current Total Trips only works for days in the first quarter of 2016 with no special trips since it only pulls those gtfs files.

How to get this to work:
Use a windows machine on the network.
I prefer installing anaconda, then use a python 3.5 environment.  Use the launch gui to install the necessary packages Pandas and pypyodbc (or another way to install pypyodbc)
Open up a Jupyter notebook and run!

In [1]:
#Pull data from the apc database, use current_route_id.  df gets the raw data.
import pypyodbc
import pandas as pd
import connect
#connect.connect_string= 'uid=abcd;pwd=pwdsrule'
connection = pypyodbc.connect("Driver={SQL Server};Server=ELTDBPRD\ELTDBPRD;Database=ACS_13;" + connect.connect_string)
start_date = '2016/03/01'
end_date = '2016/03/25'
sql='''SELECT [apc_date_time],[start_trip_time],[vehicle_id],[route_id],[block_id],[current_route_id],[apc].[direction_code_id], [dc].[direction_description], [variation],[bs_id],[run_id],[operator_id],[dwell_time],[ons],[offs],[max_load],[position_source],[quality_indicator],[raw_on],[raw_off],[raw_max_load],[booking_num],[ext_trip_id],[headsign_route],[sched_time],[tp_id],[booking_id],[booking_start_date],[veh_lat],[veh_long],[insert_date_time] 
  FROM [ACS_13].[dbo].[apc_correlated] apc 
  left join [ACS_13].[dbo].[direction_codes] dc
  ON apc.direction_code_id=dc.direction_code_id
    where ext_trip_id != 0 and current_route_id != 0 and 
    apc_date_time between '2016/03/01' and '2016/03/04' order by apc_date_time ASC;'''

#Monthly Summary String
    #(apc_date_time between '2016/03/01' and '2016/03/04' or apc_date_time between '2016/03/08' and '2016/03/11' or apc_date_time between '2016/03/15' and '2016/03/18' or apc_date_time between '2016/03/22' and '2016/03/25') order by apc_date_time ASC;'''
#apc_date_time between '%s' and '%s';''' % (start_date, end_date)

df = pd.read_sql(sql, connection)

del df['route_id']
df= df.rename(columns = {'current_route_id':'route_id'})

In [2]:
df

,apc_date_time,start_trip_time,vehicle_id,block_id,route_id,direction_code_id,direction_description,variation,bs_id,run_id,...,booking_num,ext_trip_id,headsign_route,sched_time,tp_id,booking_id,booking_start_date,veh_lat,veh_long,insert_date_time
0,2016-03-01 00:00:55,1900-01-01 00:07:00,175,2312,23,33,EAST,EB04A_,5637,5130,...,4,1923117,23,2016-02-24 00:07:00,127,JA16 005,2016-02-24,37.322521,-122.044425,2016-03-01 01:12:57
1,2016-03-01 00:01:15,1900-01-01 00:07:00,175,2312,23,33,EAST,EB04A_,0,5130,...,4,1923117,23,2016-03-01 00:01:15,0,JA16 005,2016-02-24,37.322521,-122.044433,2016-03-01 01:12:57
2,2016-03-01 00:01:31,1900-01-01 23:40:00,193,2252,22,33,EAST,EB04A_,355,2137,...,4,1922050,22,2016-02-24 00:01:00,146,JA16 005,2016-02-24,37.385128,-122.082901,2016-03-01 01:53:02
3,2016-03-01 00:02:01,1900-01-01 23:53:00,2057,7073,200,34,NORTH,NB01__,2526,4186,...,4,1935530,200,2016-02-24 00:01:00,425,JA16 005,2016-02-24,37.403484,-121.980690,2016-03-01 01:02:52
4,2016-03-01 00:02:18,1900-01-01 23:45:00,170,2316,23,36,WEST,WB07__,3264,2316,...,4,1923190,23,2016-02-24 00:05:00,8409,JA16 005,2016-02-24,37.336109,-121.888999,2016-03-01 01:02:51
5,2016-03-01 00:02:18,1900-01-01 23:25:00,1031,133,181,35,SOUTH,SB04__,5513,5278,...,4,1934919,181,2016-02-24 00:02:00,8409,JA16 005,2016-02-24,37.336193,-121.889144,2016-03-01 00:22:39
6,2016-03-01 00:02:51,1900-01-01 23:30:00,172,2302,22,36,WEST,WB03A_,440,2302,...,4,1922140,22,2016-02-23 23:56:00,8419,JA16 005,2016-02-24,37.336383,-121.889854,2016-03-01 02:23:04
7,2016-03-01 00:02:56,1900-01-01 23:51:00,2065,2511,25,33,EAST,EB03__,744,2511,...,4,1923995,25,2016-02-24 00:03:00,466,JA16 005,2016-02-24,37.308666,-121.900650,2016-03-01 00:42:47
8,2016-03-01 00:03:29,1900-01-01 23:53:00,2057,7073,200,34,NORTH,NB01__,2365,4186,...,4,1935530,200,2016-03-01 00:03:29,0,JA16 005,2016-02-24,37.403438,-121.989067,2016-03-01 01:02:52
9,2016-03-01 00:04:14,1900-01-01 23:30:00,172,2302,22,36,WEST,WB03A_,441,2302,...,4,1922140,22,2016-03-01 00:04:14,0,JA16 005,2016-02-24,37.335453,-121.892105,2016-03-01 02:23:04
10,2016-03-01 00:05:03,1900-01-01 23:40:00,193,2252,22,33,EAST,EB04A_,360,2137,...,4,1922050,22,2016-03-01 00:05:03,0,JA16 005,2016-02-24,37.376506,-122.062812,2016-03-01 01:53:02
11,2016-03-01 00:05:10,1900-01-01 23:45:00,170,2316,23,36,WEST,WB07__,5462,2316,...,4,1923190,23,2016-02-24 00:06:00,8408,JA16 005,2016-02-24,37.334190,-121.887458,2016-03-01 01:02:51
12,2016-03-01 00:06:04,1900-01-01 23:40:00,193,2252,22,33,EAST,EB04A_,361,2137,...,4,1922050,22,2016-03-01 00:06:04,0,JA16 005,2016-02-24,37.374591,-122.057151,2016-03-01 01:53:02
13,2016-03-01 00:06:13,1900-01-01 22:53:00,2068,6809,68,35,SOUTH,SB02__,166,6809,...,4,1931300,68,2016-03-01 00:06:13,0,JA16 005,2016-02-24,37.127658,-121.652473,2016-03-01 01:12:59
14,2016-03-01 00:07:20,1900-01-01 23:30:00,172,2302,22,36,WEST,WB03A_,444,2302,...,4,1922140,22,2016-03-01 00:07:20,0,JA16 005,2016-02-24,37.332210,-121.899948,2016-03-01 02:23:04
15,2016-03-01 00:07:22,1900-01-01 22:53:00,2068,6809,68,35,SOUTH,SB02__,3443,6809,...,4,1931300,68,2016-03-01 00:07:22,0,JA16 005,2016-02-24,37.124404,-121.649894,2016-03-01 01:12:59
16,2016-03-01 00:08:11,1900-01-01 23:30:00,172,2302,22,36,WEST,WB03A_,446,2302,...,4,1922140,22,2016-03-01 00:08:11,0,JA16 005,2016-02-24,37.332080,-121.904510,2016-03-01 02:23:04
17,2016-03-01 00:08:11,1900-01-01 23:53:00,2057,7073,200,34,NORTH,NB01__,0,4186,...,4,1935530,200,2016-03-01 00:08:11,0,JA16 005,2016-02-24,37.399230,-122.011940,2016-03-01 01:02:52
18,2016-03-01 00:08:14,1900-01-01 23:40:00,193,2252,22,33,EAST,EB04A_,364,2137,...,4,1922050,22,2016-02-24 00:08:00,147,JA16 005,2016-02-24,37.370277,-122.041534,2016-03-01 01:53:02
19,2016-03-01 00:09:00,1900-01-01 23:30:00,172,2302,22,36,WEST,WB03A_,448,2302,...,4,1922140,22,2016-03-01 00:09:00,0,JA16 005,2016-02-24,37.332031,-121.908843,2016-03-01 02:23:04
20,2016-03-01 00:09:02,1900-01-01 23:45:00,170,2316,23,36,WEST,WB07__,619,2316,...,4,1923190,23,2016-03-01 00:09:02,0,JA16 005,2016-02-24,37.329917,-121.890083,2016-03-01 01:02:51
21,2016-03-01 00:10:06,1900-01-01 23:30:00,172,2302,22,36,WEST,WB03A_,449,2302,...,4,1922140,22,2016-03-01 00:10:06,0,JA16 005,2016-02-24,37.331993,-121.912139,2016-03-01 02:23:04
22,2016-03-01 00:10:11,1900-01-01 23:40:00,193,2252,22,33,EAST,EB04A_,367,2137,...,4,1922050,22,2016-03-01 00:10:11,0,JA16 005,2016-02-24,37.364723,-122.028289,2016-03-01 01:53:02
23,2016-03-01 00:10:21,1900-01-01 00:07:00,175,2312,23,33,EAST,EB04A_,567,5130,...,4,1923117,23,2016-03-01 00:10:21,0,JA16 005,2016-02-24,37.322696,-122.031501,2016-03-01 01:12:57
24,2016-03-01 00:10:27,1900-01-01 23:51:00,2065,2511,25,33,EAST,EB03__,754,2511,...,4,1923995,25,2016-02-24 00:12:00,8432,JA16 005,2016-02-24,37.320098,-121.877334,2016-03-01 00:42:47
25,2016-03-01 00:10:48,1900-01-01 22:53:00,2068,6809,68,35,SOUTH,SB02__,3448,6809,...,4,1931300,68,2016-03-01 00:10:48,0,JA16 005,2016-02-24,37.107521,-121.634841,2016-03-01 01:12:59
26,2016-03-01 00:11:17,1900-01-01 23:40:00,193,2252,22,33,EAST,EB04A_,368,2137,...,4,1922050,22,2016-03-01 00:11:17,0,JA16 005,2016-02-24,37.361286,-122.024032,2016-03-01 01:53:02
27,2016-03-01 00:11:20,1900-01-01 23:45:00,170,2316,23,36,WEST,WB07__,624,2316,...,4,1923190,23,2016-02-24 00:12:00,115,JA16 005,2016-02-24,37.324996,-121.899795,2016-03-01 01:02:51
28,2016-03-01 00:11:36,1900-01-01 22:53:00,2068,6809,68,35,SOUTH,SB02__,3449,6809,...,4,1931300,68,2016-03-01 00:11:36,0,JA16 005,2016-02-24,37.105434,-121.631637,2016-03-01 01:12:59
29,2016-03-01 00:11:51,1900-01-01 23:30:00,172,2302,22,36,WEST,WB03A_,452,2302,...,4,1922140,22,2016-02-24 00:10:00,15083,JA16 005,2016-02-24,37.337951,-121.919235,2016-03-01 02:23:04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130721,2016-03-03 23:47:35,1900-01-01 22:38:00,135,7082,26,36,WEST,WB02__,1035,4185,...,3,1924838,26,2016-03-03 23:47:35,0,JA16 006,2016-03-02,37.391532,-122.013961,2016-03-04 00:15:51
130722,2016-03-03 23:48:01,1900-01-01 23:19:00,156,2318,23,33,EAST,EB04A_,600,5129,...,3,1923125,23,2016-03-03 23:48:01,0,JA16 006,2016-03-02,37.323890,-121.912635,2016-03-04 00:36:02
130723,2016-03-03 23:48:33,1900-01-01 22:23:00,178,2267,22,33,EAST,EB04__,35,2157,...,3,1922096,22,2016-03-01 23:44:00,234,JA16 006,2016-03-02,37.352577,-121.855232,2016-03-04 01:16:20
130724,2016-03-03 23:49:05,1900-01-01 23:19:00,156,2318,23,33,EAST,EB04A_,602,5129,...,3,1923125,23,2016-03-03 23:49:05,0,JA16 006,2016-03-02,37.324092,-121.905723,2016-03-04 00:36:02
130725,2016-03-03 23:49:08,1900-01-01 23:45:00,173,2316,23,36,WEST,WB07__,3067,5131,...,3,1923190,23,2016-03-01 23:50:00,34,JA16 006,2016-03-02,37.358753,-121.842895,2016-03-04 01:06:15
130726,2016-03-03 23:49:16,1900-01-01 23:53:00,4406,7073,200,34,NORTH,NB01__,0,4186,...,3,1935530,200,2016-03-03 23:49:16,0,JA16 006,2016-03-02,37.411205,-121.941070,2016-03-04 00:46:11
130727,2016-03-03 23:49:26,1900-01-01 22:23:00,2063,2509,25,33,EAST,EB02__,5047,2509,...,3,1923994,25,2016-03-01 23:35:00,37,JA16 006,2016-03-02,37.357734,-121.832542,2016-03-05 14:24:10
130728,2016-03-03 23:49:27,1900-01-01 22:23:00,178,2267,22,33,EAST,EB04__,36,2157,...,3,1922096,22,2016-03-03 23:49:27,0,JA16 006,2016-03-02,37.349666,-121.852439,2016-03-04 01:16:20
130729,2016-03-03 23:49:33,1900-01-01 23:30:00,166,2302,22,36,WEST,WB03A_,426,2302,...,3,1922140,22,2016-03-01 23:45:00,35,JA16 006,2016-03-02,37.352714,-121.856094,2016-03-04 01:46:24
130730,2016-03-03 23:50:43,1900-01-01 23:19:00,156,2318,23,33,EAST,EB04A_,605,5129,...,3,1923125,23,2016-03-03 23:50:43,0,JA16 006,2016-03-02,37.327392,-121.895179,2016-03-04 00:36:02
130731,2016-03-03 23:50:43,1900-01-01 23:30:00,166,2302,22,36,WEST,WB03A_,428,2302,...,3,1922140,22,2016-03-03 23:50:43,0,JA16 006,2016-03-02,37.351364,-121.858886,2016-03-04 01:46:24
130732,2016-03-03 23:51:20,1900-01-01 23:19:00,156,2318,23,33,EAST,EB04A_,606,5129,...,3,1923125,23,2016-03-03 23:51:20,0,JA16 006,2016-03-02,37.328418,-121.893203,2016-03-04 00:36:02
130733,2016-03-03 23:52:10,1900-01-01 23:30:00,166,2302,22,36,WEST,WB03A_,429,2302,...,3,1922140,22,2016-03-03 23:52:10,0,JA16 006,2016-03-02,37.348968,-121.863838,2016-03-04 01:46:24
130734,2016-03-03 23:52:15,1900-01-01 23:19:00,156,2318,23,33,EAST,EB04A_,607,5129,...,3,1923125,23,2016-03-03 23:52:15,0,JA16 006,2016-03-02,37.330532,-121.889137,2016-03-04 00:36:02
130735,2016-03-03 23:53:23,1900-01-01 22:23:00,178,2267,22,33,EAST,EB04__,40,2157,...,3,1922096,22,2016-03-01 23:49:00,236,JA16 006,2016-03-02,37.338993,-121.842208,2016-03-04 01:16:20
130736,2016-03-03 23:53:32,1900-01-01 23:30:00,166,2302,22,36,WEST,WB03A_,430,2302,...,3,1922140,22,2016-03-03 23:53:32,0,JA16 006,2016-03-02,37.347824,-121.866203,2016-03-04 01:46:24
130737,2016-03-03 23:53:38,1900-01-01 23:19:00,156,2318,23,33,EAST,EB04A_,5460,5129,...,3,1923125,23,2016-03-01 23:54:00,9,JA16 006,2016-03-02,37.332405,-121.887626,2016-03-04 00:36:02
130738,2016-03-03 23:53:40,1900-01-01 23:53:00,4406,7073,200,34,NORTH,NB01__,1366,4186,...,3,1935530,200,2016-03-01 23:53:00,422,JA16 006,2016-03-02,37.411033,-121.941787,2016-03-04 00:46:11
130739,2016-03-03 23:54:20,1900-01-01 23:25:00,1032,133,181,35,SOUTH,SB04__,21,133,...,3,1934919,181,2016-03-01 23:56:00,15110,JA16 006,2016-03-02,37.351615,-121.902198,2016-03-04 00:56:11
130740,2016-03-03 23:54:48,1900-01-01 22:23:00,178,2267,22,33,EAST,EB04__,43,2157,...,3,1922096,22,2016-03-03 23:54:48,0,JA16 006,2016-03-02,37.330898,-121.834190,2016-03-04 01:16:20
130741,2016-03-03 23:54:59,1900-01-01 23:51:00,1043,2511,25,33,EAST,EB03__,732,2511,...,3,1923995,25,2016-03-03 23:54:59,0,JA16 006,2016-03-02,37.310707,-121.931007,2016-03-04 00:46:09
130742,2016-03-03 23:56:03,1900-01-01 22:26:00,144,2308,22,36,WEST,WB03A_,512,2308,...,3,1922141,22,2016-03-01 23:59:00,15122,JA16 006,2016-03-02,37.424636,-122.144561,2016-03-04 04:26:36
130743,2016-03-03 23:56:26,1900-01-01 23:30:00,166,2302,22,36,WEST,WB03A_,436,2302,...,3,1922140,22,2016-03-03 23:56:26,0,JA16 006,2016-03-02,37.341903,-121.878440,2016-03-04 01:46:24
130744,2016-03-03 23:56:50,1900-01-01 22:03:00,2027,6811,68,34,NORTH,NB04__,3072,6811,...,3,1931249,68,2016-03-01 23:32:00,138,JA16 006,2016-03-02,37.330387,-121.901939,2016-03-04 02:06:27
130745,2016-03-03 23:56:50,1900-01-01 23:57:00,2027,6811,68,35,SOUTH,SB02__,3072,6811,...,3,1931299,68,2016-03-01 23:57:00,138,JA16 006,2016-03-02,37.330387,-121.901939,2016-03-04 02:06:27
130746,2016-03-03 23:56:56,1900-01-01 22:23:00,178,2267,22,33,EAST,EB04__,46,2157,...,3,1922096,22,2016-03-03 23:56:56,0,JA16 006,2016-03-02,37.323818,-121.827178,2016-03-04 01:16:20
130747,2016-03-03 23:57:16,1900-01-01 23:57:00,2027,6811,68,35,SOUTH,SB02__,0,6811,...,3,1931299,68,2016-03-03 23:57:16,0,JA16 006,2016-03-02,37.329986,-121.901847,2016-03-04 02:06:27
130748,2016-03-03 23:57:17,1900-01-01 23:30:00,166,2302,22,36,WEST,WB03A_,437,2302,...,3,1922140,22,2016-03-03 23:57:17,0,JA16 006,2016-03-02,37.341037,-121.880233,2016-03-04 01:46:24
130749,2016-03-03 23:58:16,1900-01-01 23:30:00,166,2302,22,36,WEST,WB03A_,438,2302,...,3,1922140,22,2016-03-03 23:58:16,0,JA16 006,2016-03-02,37.339221,-121.883987,2016-03-04 01:46:24
130750,2016-03-03 23:59:43,1900-01-01 23:45:00,173,2316,23,36,WEST,WB07__,437,5131,...,3,1923190,23,2016-03-03 23:59:43,0,JA16 006,2016-03-02,37.340896,-121.880783,2016-03-04 01:06:15

In [3]:
#Create a new column that groups times by slots 5-9am, etc.
df.loc[(df['start_trip_time'].dt.hour >= 5) & (df['start_trip_time'].dt.hour < 9), 'Time_Group'] = '5A-9A'
df.loc[(df['start_trip_time'].dt.hour >= 9) & (df['start_trip_time'].dt.hour < 15), 'Time_Group'] = '9A-3P'
df.loc[(df['start_trip_time'].dt.hour >= 15) & (df['start_trip_time'].dt.hour < 19), 'Time_Group'] = '3P-7P'
df.loc[df['start_trip_time'].dt.hour >= 19, 'Time_Group'] = '7P-5A'
df.loc[df['start_trip_time'].dt.hour < 5, 'Time_Group'] = '7P-5A'

df['dayofyear']= df.apc_date_time.dt.dayofyear
#Group by route, time group, and direction.  Summarized df gives the raw ons.
summarized_df = df.groupby(['Time_Group','route_id','direction_description'])['ons'].sum()
summarized_df = summarized_df.reset_index()
summarized_df = summarized_df.rename(columns = {'ons':'tot_ons'})

#nunique table contains the number of unique sampled trips per day, then sum up the days.
nunique_df = df.groupby(['Time_Group','route_id','direction_description', 'dayofyear'])['ext_trip_id'].nunique()
nunique_df = nunique_df.reset_index().groupby(['Time_Group','route_id', 'direction_description']) ['ext_trip_id'].sum().reset_index()
#nunique_df = nunique_df.reset_index()
nunique_df = nunique_df.rename(columns = {'ext_trip_id':'samp_trips'})

In [4]:
#Grab a csv derived from gtfs that tells you when each trip starts
gtfs=pd.read_csv('start_times_trips_gtfs_march_2016.csv')
#A table that goes from cardinal direction (east, west, etc.) to direction_id (inbound, outbound) so you may join apc to gtfs.
line_table=pd.read_csv('line_table.csv')

#http://pandas.pydata.org/pandas-docs/stable/merging.html
gtfs = pd.merge(gtfs, line_table, how='left', left_on=['route_id','direction_id'], right_on=['lineabbr', 'DirNum'])
gtfs['arrival_time']=gtfs['arrival_time'].str.replace('^24:','00:')
gtfs['arrival_time']=gtfs['arrival_time'].apply(pd.to_datetime,format='%H:%M:%S')

#Reground, similar to above
gtfs.loc[(gtfs['arrival_time'].dt.hour >= 5) & (gtfs['arrival_time'].dt.hour < 9), 'Time_Group'] = '5A-9A'
gtfs.loc[(gtfs['arrival_time'].dt.hour >= 9) & (gtfs['arrival_time'].dt.hour < 15), 'Time_Group'] = '9A-3P'
gtfs.loc[(gtfs['arrival_time'].dt.hour >= 15) & (gtfs['arrival_time'].dt.hour < 19), 'Time_Group'] = '3P-7P'
gtfs.loc[gtfs['arrival_time'].dt.hour >= 19, 'Time_Group'] = '7P-5A'
gtfs.loc[gtfs['arrival_time'].dt.hour < 5, 'Time_Group'] = '7P-5A'

In [5]:
#http://wesmckinney.com/blog/groupby-fu-improvements-in-grouping-and-aggregating-data-in-pandas/
#summarized_gtfs tells you the total number of trips run
summarized_gtfs = gtfs.groupby(['Time_Group','route_id','direction_id','DirectionName'])['trip_id'].count()
summarized_gtfs = summarized_gtfs.reset_index()
summarized_gtfs= summarized_gtfs.rename(columns = {'trip_id':'tot_trips', 'DirectionName':'direction_description'})
#summarized_gtfs['Time_Group'].value_counts()

In [6]:
summarized_gtfs['route_id'].unique()
summarized_gtfs['route_id'].unique()
counts = pd.merge(summarized_df, nunique_df, how='outer', on =['Time_Group','route_id','direction_description'])
counts = pd.merge(counts, summarized_gtfs, how='outer', on =['Time_Group','route_id','direction_description'])

In [7]:
#Join all three tables together
counts = pd.merge(summarized_df, nunique_df, how='outer', on =['Time_Group','route_id','direction_description'])
counts = pd.merge(counts, summarized_gtfs, how='outer', on =['Time_Group','route_id','direction_description'])
#Do the math described in the intro to get Projected trips per day
counts['total_exp_ons_day']=(counts['tot_ons']/counts['samp_trips'])*counts['tot_trips']
# del counts['tot_ons']
# del counts['samp_trips']
# del counts['tot_trips']
del counts['direction_id']

In [8]:
#Pivot and reorder to get more readable tables reorder tables
counts_full = counts.pivot_table(index= ['route_id', 'direction_description', ], columns='Time_Group', values=['tot_ons','samp_trips','tot_trips', 'total_exp_ons_day'])
#counts_summ = counts.pivot_table(index= ['route_id', 'direction_description', ], columns='Time_Group', values=['total_exp_ons_day'])
counts_summ = counts.pivot_table(index= ['route_id', 'direction_description', ], columns='Time_Group', values=['total_exp_ons_day'], aggfunc = sum, margins=True, margins_name = 'Total Proj')
cols = counts_summ.columns.tolist()
cols = [cols[1], cols[3], cols[0], cols[2], cols[4]]
counts_summ = counts_summ[cols]
cols = counts_full.columns.tolist()
cols = [cols[1], cols[3], cols[0], cols[2], cols[1+4], cols[3+4], cols[0+4], cols[2+4], cols[1+8], cols[3+8], cols[0+8], cols[2+8], cols[1+12], cols[3+12], cols[0+12], cols[2+12]]
counts_full = counts_full[cols]

In [9]:
#Output daily summaries
counts_summ.to_csv('summaries/' + start_date.replace('/','_') + '_' + end_date.replace('/','_') + '_' + 'counts_summ.csv')
counts_full.to_csv('summaries/' + start_date.replace('/','_') + '_' + end_date.replace('/','_') + '_' + 'counts_full.csv')

In [10]:
counts_full

                               tot_ons                         samp_trips  \
Time_Group                       5A-9A   9A-3P   3P-7P   7P-5A      5A-9A
route_id direction_description
10       EAST                    356.0   634.0   490.0   186.0       44.0
         WEST                    250.0   465.0   348.0   223.0       38.0
13       NORTH                    68.0    22.0    15.0     NaN        4.0
         SOUTH                    51.0    84.0    38.0     4.0        4.0
14       NORTH                    36.0   164.0    17.0     NaN        6.0
         SOUTH                     9.0    53.0    11.0     NaN        6.0
16       NORTH                    51.0     4.0     6.0     NaN        8.0
         SOUTH                    18.0     2.0    99.0     NaN        9.0
17       NORTH                    13.0    42.0     NaN     NaN        6.0
         SOUTH                     4.0    78.0     9.0     NaN        3.0
18       NORTH                    16.0   134.0    40.0     5.0        9.0
         SOUTH                   136.0    99.0     9.0     7.0       12.0
19       NORTH                    23.0   128.0    64.0     NaN        9.0
         SOUTH                    73.0   165.0    26.0     NaN       11.0
22       EAST                   1396.0  2724.0  1487.0  1394.0       25.0
         WEST                   1522.0  3098.0  1239.0  1587.0       17.0
23       EAST                   1713.0  5402.0  2967.0  1176.0       49.0
         WEST                   3055.0  5117.0  2159.0   568.0       58.0
25       EAST                   1006.0  2770.0  1454.0   292.0       28.0
         WEST                   1597.0  2282.0   991.0   179.0       38.0
26       EAST                    679.0  1123.0   723.0   156.0       13.0
         WEST                    775.0  1059.0   656.0   185.0       13.0
27       EAST                     86.0   190.0   146.0    23.0        7.0
         WEST                    123.0   210.0   132.0     9.0        7.0
31       NORTH                    42.0   205.0    75.0    54.0        7.0
         SOUTH                   176.0   167.0    52.0    67.0       10.0
32       EAST                    388.0   675.0   654.0    31.0       20.0
         WEST                    597.0   581.0   355.0    38.0       20.0
34       EAST                      NaN   134.0     NaN     NaN        NaN
         WEST                      NaN   104.0     NaN     NaN        NaN
...                                ...     ...     ...     ...        ...
323      EAST                    314.0  1323.0  1135.0   250.0       20.0
         WEST                   1011.0  1796.0   738.0   238.0       32.0
328      NORTH                    59.0     NaN     NaN     NaN        3.0
         SOUTH                     NaN     NaN    69.0     NaN        NaN
330      NORTH                    84.0     NaN     NaN     NaN        4.0
         SOUTH                     NaN     NaN   121.0     NaN        NaN
522      EAST                   1848.0  4107.0  2825.0   836.0       45.0
         WEST                   3309.0  3986.0  2430.0   855.0       46.0
822      NORTH                     NaN     NaN     NaN     NaN        NaN
         SOUTH                     NaN     NaN     NaN     NaN        NaN
823      EAST                      NaN     NaN     NaN     NaN        NaN
         WEST                      NaN     NaN     NaN     NaN        NaN
824      EAST                      NaN     NaN     NaN     NaN        NaN
         WEST                      NaN     NaN     NaN     NaN        NaN
825      EAST                      NaN     NaN     NaN     NaN        NaN
         WEST                      NaN     NaN     NaN     NaN        NaN
826      EAST                      NaN     NaN     NaN     NaN        NaN
         WEST                      NaN     NaN     NaN     NaN        NaN
827      NORTH                     NaN     NaN     NaN     NaN        NaN
         SOUTH                     NaN     NaN     NaN     NaN        NaN
828      EAST                      NaN     NaN     NaN     NaN        NaN
         WEST                      NaN     NaN     NaN     NaN        NaN
831      EAST                      NaN     NaN     NaN     NaN        NaN
         WEST                      NaN     NaN     NaN     NaN        NaN
900      NORTH                     NaN     NaN     NaN     NaN        NaN
         SOUTH                     NaN     NaN     NaN     NaN        NaN
901      NORTH                     NaN     NaN     NaN     NaN        NaN
         SOUTH                     NaN     NaN     NaN     NaN        NaN
902      NORTH                     NaN     NaN     NaN     NaN        NaN
         SOUTH                     NaN     NaN     NaN     NaN        NaN

                                                 tot_trips                    \
Time_Group                     9A-3P 3P-7P 7P-5A     5A-9A 9A-3P 3P-7P 7P-5A
route_id direction_description
10       EAST                   74.0  48.0  30.0      26.0  48.0  16.0  19.0
         WEST                   68.0  46.0  28.0      25.0  48.0  16.0  18.0
13       NORTH                   6.0   4.0   NaN       2.0   6.0   4.0   NaN
         SOUTH                   6.0   3.0   1.0       3.0   6.0   3.0   1.0
14       NORTH                  22.0   4.0   NaN       2.0   8.0   3.0   NaN
         SOUTH                  12.0   3.0   NaN       2.0   8.0   4.0   NaN
16       NORTH                   2.0   2.0   NaN       5.0   2.0   2.0   NaN
         SOUTH                   1.0   5.0   NaN       3.0   1.0   5.0   NaN
17       NORTH                  15.0   NaN   NaN       2.0   9.0   3.0   NaN
         SOUTH                  24.0   4.0   NaN       1.0   9.0   3.0   NaN
18       NORTH                  15.0   3.0   2.0       4.0   8.0   6.0   3.0
         SOUTH                  15.0   3.0   3.0       4.0   8.0   6.0   3.0
19       NORTH                  21.0   9.0   NaN       3.0   8.0   5.0   1.0
         SOUTH                  24.0   9.0   NaN       5.0   9.0   5.0   1.0
22       EAST                   33.0  21.0  28.0      22.0  32.0  18.0  19.0
         WEST                   33.0  19.0  32.0      21.0  30.0  19.0  19.0
23       EAST                   91.0  50.0  33.0      18.0  31.0  20.0  12.0
         WEST                   88.0  49.0  20.0      20.0  30.0  18.0   8.0
25       EAST                   59.0  32.0  12.0      18.0  38.0  21.0   7.0
         WEST                   54.0  26.0   8.0      23.0  37.0  18.0   5.0
26       EAST                   16.0  19.0   5.0       8.0  12.0  12.0   3.0
         WEST                   20.0  12.0   8.0      11.0  14.0   8.0   4.0
27       EAST                   11.0  10.0   2.0       6.0   8.0   8.0   1.0
         WEST                   11.0  10.0   1.0       6.0   8.0   9.0   1.0
31       NORTH                  14.0   9.0  11.0       6.0  12.0   9.0   4.0
         SOUTH                  14.0   8.0  11.0       7.0  12.0   8.0   4.0
32       EAST                   36.0  21.0   3.0       7.0  12.0   7.0   1.0
         WEST                   36.0  21.0   3.0       7.0  13.0   7.0   1.0
34       EAST                   18.0   NaN   NaN       NaN   7.0   NaN   NaN
         WEST                   18.0   NaN   NaN       NaN   6.0   NaN   NaN
...                              ...   ...   ...       ...   ...   ...   ...
323      EAST                   71.0  42.0  20.0       7.0  25.0  14.0   7.0
         WEST                   69.0  41.0  21.0      11.0  24.0  14.0   7.0
328      NORTH                   NaN   NaN   NaN       3.0   NaN   NaN   NaN
         SOUTH                   NaN   4.0   NaN       NaN   NaN   3.0   NaN
330      NORTH                   NaN   NaN   NaN       6.0   NaN   NaN   NaN
         SOUTH                   NaN   5.0   NaN       NaN   NaN   5.0   NaN
522      EAST                   70.0  45.0  23.0      15.0  24.0  15.0   8.0
         WEST                   67.0  45.0  24.0      16.0  23.0  15.0   8.0
822      NORTH                   NaN   NaN   NaN       NaN   NaN   4.0   NaN
         SOUTH                   NaN   NaN   NaN       3.0   1.0   NaN   NaN
823      EAST                    NaN   NaN   NaN       NaN   NaN   4.0   NaN
         WEST                    NaN   NaN   NaN       3.0   1.0   NaN   NaN
824      EAST                    NaN   NaN   NaN       NaN   NaN   4.0   NaN
         WEST                    NaN   NaN   NaN       3.0   1.0   NaN   NaN
825      EAST                    NaN   NaN   NaN       3.0   1.0   NaN   NaN
         WEST                    NaN   NaN   NaN       NaN   NaN   4.0   NaN
826      EAST                    NaN   NaN   NaN       NaN   NaN   4.0   NaN
         WEST                    NaN   NaN   NaN       3.0   1.0   NaN   NaN
827      NORTH                   NaN   NaN   NaN       NaN   NaN   4.0   NaN
         SOUTH                   NaN   NaN   NaN       3.0   1.0   NaN   NaN
828      EAST                    NaN   NaN   NaN       3.0   1.0   NaN   NaN
         WEST                    NaN   NaN   NaN       NaN   NaN   4.0   NaN
831      EAST                    NaN   NaN   NaN       3.0   1.0   NaN   NaN
         WEST                    NaN   NaN   NaN       NaN   NaN   4.0   NaN
900      NORTH                   NaN   NaN   NaN      11.0  24.0  16.0  14.0
         SOUTH                   NaN   NaN   NaN      12.0  23.0  16.0  14.0
901      NORTH                   NaN   NaN   NaN      18.0  24.0  16.0  14.0
         SOUTH                   NaN   NaN   NaN      19.0  24.0  19.0  13.0
902      NORTH                   NaN   NaN   NaN      19.0  16.0  17.0  13.0
         SOUTH                   NaN   NaN   NaN      19.0  16.0  17.0  11.0

                               total_exp_ons_day                            \
Time_Group                                 5A-9A        9A-3P        3P-7P
route_id direction_description
10       EAST                         210.363636   411.243243   163.333333
         WEST                         164.473684   328.235294   121.043478
13       NORTH                         34.000000    22.000000    15.000000
         SOUTH                         38.250000    84.000000    38.000000
14       NORTH                         12.000000    59.636364    12.750000
         SOUTH                          3.000000    35.333333    14.666667
16       NORTH                         31.875000     4.000000     6.000000
         SOUTH                          6.000000     2.000000    99.000000
17       NORTH                          4.333333    25.200000          NaN
         SOUTH                          1.333333    29.250000     6.750000
18       NORTH                          7.111111    71.466667    80.000000
         SOUTH                         45.333333    52.800000    18.000000
19       NORTH                          7.666667    48.761905    35.555556
         SOUTH                         33.181818    61.875000    14.444444
22       EAST                        1228.480000  2641.454545  1274.571429
         WEST                        1880.117647  2816.363636  1239.000000
23       EAST                         629.265306  1840.241758  1186.800000
         WEST                        1053.448276  1744.431818   793.102041
25       EAST                         646.714286  1784.067797   954.187500
         WEST                         966.605263  1563.592593   686.076923
26       EAST                         417.846154   842.250000   456.631579
         WEST                         655.769231   741.300000   437.333333
27       EAST                          73.714286   138.181818   116.800000
         WEST                         105.428571   152.727273   118.800000
31       NORTH                         36.000000   175.714286    75.000000
         SOUTH                        123.200000   143.142857    52.000000
32       EAST                         135.800000   225.000000   218.000000
         WEST                         208.950000   209.805556   118.333333
34       EAST                                NaN    52.111111          NaN
         WEST                                NaN    34.666667          NaN
...                                          ...          ...          ...
323      EAST                         109.900000   465.845070   378.333333
         WEST                         347.531250   624.695652   252.000000
328      NORTH                         59.000000          NaN          NaN
         SOUTH                               NaN          NaN    51.750000
330      NORTH                        126.000000          NaN          NaN
         SOUTH                               NaN          NaN   121.000000
522      EAST                         616.000000  1408.114286   941.666667
         WEST                        1150.956522  1368.328358   810.000000
822      NORTH                               NaN          NaN          NaN
         SOUTH                               NaN          NaN          NaN
823      EAST                                NaN          NaN          NaN
         WEST                                NaN          NaN          NaN
824      EAST                                NaN          NaN          NaN
         WEST                                NaN          NaN          NaN
825      EAST                                NaN          NaN          NaN
         WEST                                NaN          NaN          NaN
826      EAST                                NaN          NaN          NaN
         WEST                                NaN          NaN          NaN
827      NORTH                               NaN          NaN          NaN
         SOUTH                               NaN          NaN          NaN
828      EAST                                NaN          NaN          NaN
         WEST                                NaN          NaN          NaN
831      EAST                                NaN          NaN          NaN
         WEST                                NaN          NaN          NaN
900      NORTH                               NaN          NaN          NaN
         SOUTH                               NaN          NaN          NaN
901      NORTH                               NaN          NaN          NaN
         SOUTH                               NaN          NaN          NaN
902      NORTH                               NaN          NaN          NaN
         SOUTH                               NaN          NaN          NaN


Time_Group                           7P-5A
route_id direction_description
10       EAST                   117.800000
         WEST                   143.357143
13       NORTH                         NaN
         SOUTH                    4.000000
14       NORTH                         NaN
         SOUTH                         NaN
16       NORTH                         NaN
         SOUTH                         NaN
17       NORTH                         NaN
         SOUTH                         NaN
18       NORTH                    7.500000
         SOUTH                    7.000000
19       NORTH                         NaN
         SOUTH                         NaN
22       EAST                   945.928571
         WEST                   942.281250
23       EAST                   427.636364
         WEST                   227.200000
25       EAST                   170.333333
         WEST                   111.875000
26       EAST                    93.600000
         WEST                    92.500000
27       EAST                    11.500000
         WEST                     9.000000
31       NORTH                   19.636364
         SOUTH                   24.363636
32       EAST                    10.333333
         WEST                    12.666667
34       EAST                          NaN
         WEST                          NaN
...                                    ...
323      EAST                    87.500000
         WEST                    79.333333
328      NORTH                         NaN
         SOUTH                         NaN
330      NORTH                         NaN
         SOUTH                         NaN
522      EAST                   290.782609
         WEST                   285.000000
822      NORTH                         NaN
         SOUTH                         NaN
823      EAST                          NaN
         WEST                          NaN
824      EAST                          NaN
         WEST                          NaN
825      EAST                          NaN
         WEST                          NaN
826      EAST                          NaN
         WEST                          NaN
827      NORTH                         NaN
         SOUTH                         NaN
828      EAST                          NaN
         WEST                          NaN
831      EAST                          NaN
         WEST                          NaN
900      NORTH                         NaN
         SOUTH                         NaN
901      NORTH                         NaN
         SOUTH                         NaN
902      NORTH                         NaN
         SOUTH                         NaN

[160 rows x 16 columns]

In [11]:
counts_summ

                                 total_exp_ons_day                \
Time_Group                                   5A-9A         9A-3P
route_id   direction_description
10         EAST                         210.363636    411.243243
           WEST                         164.473684    328.235294
13         NORTH                         34.000000     22.000000
           SOUTH                         38.250000     84.000000
14         NORTH                         12.000000     59.636364
           SOUTH                          3.000000     35.333333
16         NORTH                         31.875000      4.000000
           SOUTH                          6.000000      2.000000
17         NORTH                          4.333333     25.200000
           SOUTH                          1.333333     29.250000
18         NORTH                          7.111111     71.466667
           SOUTH                         45.333333     52.800000
19         NORTH                          7.666667     48.761905
           SOUTH                         33.181818     61.875000
22         EAST                        1228.480000   2641.454545
           WEST                        1880.117647   2816.363636
23         EAST                         629.265306   1840.241758
           WEST                        1053.448276   1744.431818
25         EAST                         646.714286   1784.067797
           WEST                         966.605263   1563.592593
26         EAST                         417.846154    842.250000
           WEST                         655.769231    741.300000
27         EAST                          73.714286    138.181818
           WEST                         105.428571    152.727273
31         NORTH                         36.000000    175.714286
           SOUTH                        123.200000    143.142857
32         EAST                         135.800000    225.000000
           WEST                         208.950000    209.805556
34         EAST                                NaN     52.111111
           WEST                                NaN     34.666667
...                                            ...           ...
323        WEST                         347.531250    624.695652
328        NORTH                         59.000000           NaN
           SOUTH                               NaN           NaN
330        NORTH                        126.000000           NaN
           SOUTH                               NaN           NaN
522        EAST                         616.000000   1408.114286
           WEST                        1150.956522   1368.328358
822        NORTH                               NaN           NaN
           SOUTH                               NaN           NaN
823        EAST                                NaN           NaN
           WEST                                NaN           NaN
824        EAST                                NaN           NaN
           WEST                                NaN           NaN
825        EAST                                NaN           NaN
           WEST                                NaN           NaN
826        EAST                                NaN           NaN
           WEST                                NaN           NaN
827        NORTH                               NaN           NaN
           SOUTH                               NaN           NaN
828        EAST                                NaN           NaN
           WEST                                NaN           NaN
831        EAST                                NaN           NaN
           WEST                                NaN           NaN
900        NORTH                               NaN           NaN
           SOUTH                               NaN           NaN
901        NORTH                               NaN           NaN
           SOUTH                               NaN           NaN
902        NORTH                               NaN           NaN
           SOUTH                               NaN           NaN
Total Proj                            27827.578596  46682.743541


Time_Group                               3P-7P        7P-5A     Total Proj
route_id   direction_description
10         EAST                     163.333333   117.800000     902.740213
           WEST                     121.043478   143.357143     757.109599
13         NORTH                     15.000000          NaN      71.000000
           SOUTH                     38.000000     4.000000     164.250000
14         NORTH                     12.750000          NaN      84.386364
           SOUTH                     14.666667          NaN      53.000000
16         NORTH                      6.000000          NaN      41.875000
           SOUTH                     99.000000          NaN     107.000000
17         NORTH                           NaN          NaN      29.533333
           SOUTH                      6.750000          NaN      37.333333
18         NORTH                     80.000000     7.500000     166.077778
           SOUTH                     18.000000     7.000000     123.133333
19         NORTH                     35.555556          NaN      91.984127
           SOUTH                     14.444444          NaN     109.501263
22         EAST                    1274.571429   945.928571    6090.434545
           WEST                    1239.000000   942.281250    6877.762533
23         EAST                    1186.800000   427.636364    4083.943428
           WEST                     793.102041   227.200000    3818.182135
25         EAST                     954.187500   170.333333    3555.302916
           WEST                     686.076923   111.875000    3328.149779
26         EAST                     456.631579    93.600000    1810.327733
           WEST                     437.333333    92.500000    1926.902564
27         EAST                     116.800000    11.500000     340.196104
           WEST                     118.800000     9.000000     385.955844
31         NORTH                     75.000000    19.636364     306.350649
           SOUTH                     52.000000    24.363636     342.706494
32         EAST                     218.000000    10.333333     589.133333
           WEST                     118.333333    12.666667     549.755556
34         EAST                            NaN          NaN      52.111111
           WEST                            NaN          NaN      34.666667
...                                        ...          ...            ...
323        WEST                     252.000000    79.333333    1303.560236
328        NORTH                           NaN          NaN      59.000000
           SOUTH                     51.750000          NaN      51.750000
330        NORTH                           NaN          NaN     126.000000
           SOUTH                    121.000000          NaN     121.000000
522        EAST                     941.666667   290.782609    3256.563561
           WEST                     810.000000   285.000000    3614.284880
822        NORTH                           NaN          NaN            NaN
           SOUTH                           NaN          NaN            NaN
823        EAST                            NaN          NaN            NaN
           WEST                            NaN          NaN            NaN
824        EAST                            NaN          NaN            NaN
           WEST                            NaN          NaN            NaN
825        EAST                            NaN          NaN            NaN
           WEST                            NaN          NaN            NaN
826        EAST                            NaN          NaN            NaN
           WEST                            NaN          NaN            NaN
827        NORTH                           NaN          NaN            NaN
           SOUTH                           NaN          NaN            NaN
828        EAST                            NaN          NaN            NaN
           WEST                            NaN          NaN            NaN
831        EAST                            NaN          NaN            NaN
           WEST                            NaN          NaN            NaN
900        NORTH                           NaN          NaN            NaN
           SOUTH                           NaN          NaN            NaN
901        NORTH                           NaN          NaN            NaN
           SOUTH                           NaN          NaN            NaN
902        NORTH                           NaN          NaN            NaN
           SOUTH                           NaN          NaN            NaN
Total Proj                        28493.975579  7298.573274  110302.870990

[161 rows x 5 columns]